@{
    Layout = "_Layout";
}

<div id="app" class="chartCard">
    <div class="chartBox">
        <canvas ref="myChart"></canvas>
    </div>
</div>

<script src="~/js/gantt.js" asp-append-version="true"></script>
